<form class="form" (ngSubmit)="onSubmit()">
  <input type="text" class="text" name="title" [(ngModel)]="title" placeholder="Add another task">

  <input type="submit" value="Submit" class="btn">
</form>
